@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 75em) {
  * {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80vh min-content 40vw (min-content)[3];
      grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
      grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

@media screen and (max-width: 62.5em) {
  .container {
    -ms-grid-rows: 6rem 80vh min-content 40vw (min-content)[3];
        grid-template-rows: 6rem 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}

@media screen and (max-width: 43.75em) {
  .container {
    -ms-grid-rows: 6rem 80vh;
        grid-template-rows: 6rem 80vh;
  }
}

.sidebar {
  background-color: #b9384d;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 62.5em) {
  .sidebar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    grid-column: 1/-1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: none;
  width: 4.5rem;
  height: 3px;
  background-color: #fff;
  margin-top: 4rem;
}

@media screen and (max-width: 62.5em) {
  .nav-btn {
    margin-top: 0;
    margin-right: 3rem;
  }
}

.nav-btn::before, .nav-btn::after {
  content: "";
  width: 4.5rem;
  height: 3px;
  background-color: #fff;
  display: block;
}

.nav-btn::before {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.nav-btn::after {
  -webkit-transform: translateY(1.3rem);
          transform: translateY(1.3rem);
}

.header {
  grid-column: full-start / col-end 6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5d685dec), to(#352d2ddc)), url("../img/hero.jpeg");
  background-image: linear-gradient(#5d685dec, #352d2ddc), url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr min-content minmax(6rem, min-content) 1fr;
      grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content) 1fr;
      grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  -ms-grid-columns: minmax(min-content, max-content);
      grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
      grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  padding: 8rem;
  padding-top: 4rem;
}

@media screen and (max-width: 43.75em) {
  .header {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 34.375em) {
  .header {
    padding: 5rem;
  }
}

.header__logo {
  height: 3rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__seenon-text {
  font-size: 1.6rem;
  color: white;
  text-transform: capitalize;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 1rem;
}

.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}

.header__seenon-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__seenon-logos img {
  max-height: 2.5rem;
  max-width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.header__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
}

.header h3 {
  margin-bottom: 0;
}

.heading-1 {
  font-size: 4.5rem;
  text-transform: capitalize;
  font-weight: 300;
  color: white;
}

.realtors {
  background-color: #5c554c;
  grid-column: col-start 7 / full-end;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 43.75em) {
  .realtors {
    grid-column: 1/-1;
  }
}

.realtors__heading {
  margin-bottom: 0;
  text-align: center;
}

.realtors__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content max-content;
      grid-template-columns: -webkit-min-content -webkit-max-content;
      grid-template-columns: min-content max-content;
  grid-column-gap: 2rem;
  grid-row-gap: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 43.75em) {
  .realtors__list {
    -ms-grid-columns: (min-content max-content)[3];
        grid-template-columns: repeat(3, -webkit-min-content -webkit-max-content);
        grid-template-columns: repeat(3, min-content max-content);
  }
}

@media screen and (max-width: 34.375em) {
  .realtors__list {
    -ms-grid-columns: min-content max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;
  }
}

.realtors__image {
  width: 7rem;
  border-radius: 50%;
  display: block;
}

.realtors__sold {
  text-transform: capitalize;
  color: #aaa;
  font-size: 1.2rem;
}

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.feature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem;
}

.feature__icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: #eab543;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.feature__text {
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: capitalize;
}

.heading-4 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
}

.story__pictures {
  grid-column: full-start / col-end 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 128, 0, 0.445)), to(rgba(255, 255, 0, 0.404))), url(../img/back.jpg);
  background-image: linear-gradient(rgba(0, 128, 0, 0.445), rgba(255, 255, 0, 0.404)), url(../img/back.jpg);
  background-size: cover;
}

@media screen and (max-width: 43.75em) {
  .story__pictures {
    grid-column: 1/-1;
    padding: 3rem;
  }
}

.story__pictures .story__img--1 {
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
}

@media screen and (max-width: 43.75em) {
  .story__pictures .story__img--1 {
    grid-row: 1/-1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
}

.story__pictures .story__img--2 {
  width: 115%;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  z-index: 5;
}

@media screen and (max-width: 43.75em) {
  .story__pictures .story__img--2 {
    width: 100%;
    grid-row: 1/-1;
  }
}

.story__content {
  background-color: #ecdede;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 43.75em) {
  .story__content {
    grid-column: 1/-1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.story__text {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.heading-2 {
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.heading-3 {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.btn {
  background-color: #eab543;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #ffb920;
}

.homes {
  grid-column: center-start / center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 0;
}

.home {
  background-color: #77777781;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
}

.home__img {
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: 1/-1;
  z-index: 1;
}

.home__like {
  fill: #fc427b;
  height: 2rem;
  width: 2rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  z-index: 2;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 1rem;
}

.home__name {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #2c3a47;
  color: white;
  text-transform: capitalize;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 4;
}

.home__location, .home__rooms {
  margin-top: 2.5rem;
}

.home__location, .home__rooms, .home__area, .home__price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #eab543;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.home .cta {
  background-color: #eab543;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  grid-column: 1/-1;
}

.home .cta:hover {
  background-color: #ffb920;
}

.gallery {
  background-color: #eee8e8;
  grid-column: full-start / full-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5vw)[7];
      grid-template-rows: repeat(7, 5vw);
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}

.gallery__item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
}

.gallery__item--3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / span 1;
}

.gallery__item--4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
}

.gallery__item--5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.gallery__item--6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / span 2;
}

.gallery__item--7 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5 / span 1;
}

.gallery__item--8 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.gallery__item--9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / span 3;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / span 1;
}

.gallery__item--10 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
}

.gallery__item--11 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
}

.gallery__item--12 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / span 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5 / span 3;
}

.gallery__item--13 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6 / span 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / span 1;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.footer {
  background-color: #8d5d77;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 2rem;
}

.nav__link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: white;
  text-align: center;
  padding: 1.25rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
}

.nav__link:hover {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.copyright {
  text-align: center;
  font-size: 1.4rem;
  color: white;
  margin-top: 6rem;
}
/*# sourceMappingURL=style.css.map */